.header {
  width: 600px;
  height: 100px;
  text-align: center;
  background-color: tomato;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
